<!DOCTYPE html>
<html>

<head>
	<title>Login Assisted Cup App</title>
	<script type="text/javascript" src='script.js'></script>
</head>

<body>
	<div class='teacher'>
		<h3>Login As Teacher</h3>
		<input id = 'class' placeholder="Class Name"></input>
		<input id = 'code' placeholder="Enter class code"></input>
		<button class = 'classcreate' id='classcreate'> Create new Class </button>
	</div>

	<div class='student'>
		<h3>Login as Student</h3>
		<input id = 'unstudent' placeholder="enter your name"></input>
		<input id = 'classcode' placeholder="enter class code"></input>
		<button id='slogin' onclick="">Login</button>
	</div>

</body>
</html>