<!DOCTYPE html>
<html>
	<head>
		<title>Teacher Page</title>
	</head>

	<body>

		<div class='title'>
			<h1 class='classtitle' id='classtitle'>Class Name</h1>
			<h2 class='classcode' id='classcode'>Class code</h2>
		</div>

		<div class="students">
			<ul>
				<div id='student' class="student">
					<img id='cup' style="height: 10pt" src='down.jpg' />
					<li class='student'>Student</li>
				</div>
				<div id='student' class="student">
					<img id='cup' style="height: 10pt" src='down.jpg' />
					<li class='student'>Student</li>
				</div>
				<div id='student' class="student">
					<img id='cup' style="height: 10pt" src='down.jpg' />
					<li class='student'>Student</li>
				</div>
			</ul>
		</div>
	</body>
</html>