<!DOCTYPE html>
<html>

	<head>
		<title>
			Student Home
		</title>
		<link rel='stylesheet' type='text/css' href="stylesheet.css" />
		<script type="text/javascript" src='script.js'></script>

	</head>

	<body>

		<a href="login.html">Back</a>

		<div class='classname'>
			<h1 class='classtitle'>class title</h1>
			<h2 class='studentname'>{{'name'}}</h2>
		</div>

		<script>
			var problem = false;

			function isProb(){
				if(problem == false){
					problem = true;
					document.getElementById("theCupImage").src = 'up.jpg';
					document.getElementById('probleminput').disabled = false;
					document.getElementById('probleminput').placeholder = 'Enter Question or Problem'
				}

				else{
					problem = false;
					document.getElementById("theCupImage").src = 'down.jpg';
					document.getElementById('probleminput').disabled = true;
					document.getElementById('probleminput').placeholder = ''
				}
			}		
		</script>

		<div class='userproblem'>

			<button class='cup' onclick="isProb()"> 
				<img class='cup' id ="theCupImage" src='down.jpg' style="height: 30pt" /> 
			</button>
			<textarea class = 'probleminput' id='probleminput' type="text" rows='' disabled="true"></textarea>

		</div>

		<div class="altproblem"> 
			<h3>Other Student Problems</h3>
			<p class='studentproblem'>student problems</p>
			<textarea class="anwserinput" id='anwserinput'></textarea>
		</div>

	</body>
</html